@define-color light-aubergine #161616/*#DED7DB*/;
@define-color super-light-aubergine #2c2c2c/*#F4F1F3*/;


#featured-star {
    border-color: #7D0126;  /* yellow */
    color: #F0532A;         /* orange */
}

.grid-lines {
    border-color: shade (@light-aubergine, 1.025);
}

#screenshot-preview {
    border-color: #000;
    color: #e2e2e2;
    border-width: 2px;
    border-radius: 3px;
}

.backforward-left-button {
    border-radius: 3px 0 0 3px; 
    background-image: none;
    background-color: red; 
}

.backforward-right-button {
    border-radius: 0 3px 3px 0;
}

.subtle,
#subtle-label {
    -GtkWidget-link-color: #1170A8;
    -GtkWidget-visited-link-color: shade (#1170A8, 0.8);
    color: shade(@theme_text_color, 0.8); /* non-link text color */
    text-shadow: 0 -1px 2px rgba(0,0,0,0.45);
}

.cellrenderer-button {
    border-radius: 3px;
}

.cellrenderer-avgrating-label {
    color: #7b7b7b; /* dark gray */
}

.cellrenderer-avgrating-label:selected {
    color: #fff;
}

.more-link {
    -GtkButton-inner-border: 0;
    -GtkButton-default-border: 0;
    -GtkButton-default-outside-border: 0;
    color: #dddddd;
    background-color: shade (@theme_selected_bg_color, 0.825);
    border-color: shade (@theme_selected_bg_color, 0.775);
    text-shadow: 0 1px 2px rgba(0,0,0,0.45);
}

.frame-header-title {
	color: mix(#e8e8e8, @theme_selected_bg_color, 0.2);
    text-shadow: 0 0 2px rgba(0,0,0,0.4);
}

.item-view-separator {
    border-color: shade (@light-aubergine, 0.9);
    border-width: 1px;
}

.light-aubergine-bg {
    background-color: @light-aubergine;
}

.super-light-aubergine-bg {
    background-color: @super-light-aubergine;
    border-color: shade (@super-light-aubergine, 0.975)
}

GtkViewport {
	color: #e2e2e2;
	text-shadow: 1px 1px 2px alpha(black, 0.3);
	background-color: transparent;
    border-width: 0;
    padding: 0;
}
GtkLabel:selected,
GtkLabel *:selected
.view GtkLabel:selected {
background-color: transparent;
}
	
GtkTreeView {
    border-style: solid;
	border-width: 1px 0px 1px 0px;
	border-top-color: shade(@view-row, 1.25); 
    border-bottom-color:shade(@view-row, 0.65); 
	background-color: shade(@view-row, 0.88);
	background-image: none;
}

GtkTreeView * {
	color: @theme_text_color;
}

GtkTreeView:hover {
  border-width: 1px 0px 1px 0px;
  border-style: solid;
  border-bottom-color: shade(@theme_base_color, 0.65);
  border-top-color: shade(@theme_base_color, 0.4);
  background-image: -gtk-gradient (linear,
				     left top, left bottom,
							from (shade(@theme_base_color, 1.1)),
							to (shade(@theme_base_color, 1.1)));
	background-color: transparent;						
}

GtkTreeView *:hover {
  color: shade(@theme_text_color, 1.1);
} 

GtkTreeView:selected {
	border-width: 0;
	background-color: transparent;
	background-image: linear-gradient(to bottom, 
                                      alpha(white, 0.045), 
                                      alpha(black, 0.045)
                                      ),
                      linear-gradient(to bottom,
                                      mix(@view-row, @theme_selected_bg_color, 0.3),
                                      mix(@view-row, @theme_selected_bg_color, 0.35)
                                      );   
    box-shadow: inset 0 -1px alpha(black, 0.46),
				inset 0 1px alpha(white, 0.03),
				inset 0 2px alpha(white, 0.02),
                inset -1px 0 alpha(black, 0.1), 
                inset 0 -2px alpha(black, 0.11),
                inset 1px 0 alpha(white, 0.05);			
}	

GtkTreeView *:selected {
	color: @menu_selected_fg_color;
	text-shadow: 0 1px 2px alpha(black, 0.38);
}	

#toolbar-popup {
    padding: 0;
}

/**** Progressbar for Treeviews *****/
/*******this gets messy**************/
GtkProgressBar {
    padding: 0px 0px 1px 0px;
    -GtkProgressBar-min-horizontal-bar-height: 16;
    -GtkProgressBar-min-vertical-bar-width: 16;
}

/* progress component */
.progressbar,
.toolbar .progressbar,
.entry.progressbar {
	background-color: @progressbar_background_c;
    border-radius: 100px;
    border-width: 1px;
    border-style: solid;
    border-color: #111111;
    box-shadow: inset 0 -1px alpha(mix(white, @theme_selected_bg_color, 0.4), 0.28),
				1px 0 alpha(white, 0.28) inset,
				-1px 0 alpha(black, 0.26) inset,
				0 1px alpha(white, 0.34) inset
				;
	border-image: none;   				
}

.progressbar row,
.progressbar row:hover,
.progressbar row:selected,
.progressbar row:selected:focus {
	color: @theme_text_color; 
	border-radius: 100px;
	border-width: 1px;
    border-style: solid;
    border-color: transparent; 
	border-image: none;
	background-color: mix(black, @theme_selected_bg_color, 0.3);
	background-image: linear-gradient(to bottom, 
                                      alpha(mix(white, @theme_selected_bg_color, 0.45), 0.38), 
                                      alpha(black, 0.08)
                                      ),
                      linear-gradient(to bottom,
                                      transparent 33%,
                                      @theme_selected_bg_color 
                                      );               
	background-clip: padding-box;
	box-shadow: inset 0 -1px alpha(@theme_selected_bg_color, 0.30),
				inset 0 -2px alpha(@theme_selected_bg_color, 0.06),
				inset 0 1px alpha(white, 0.16),
				inset 0 2px alpha(white, 0.06),
				inset 0 3px alpha(white, 0.02),
                inset -1px 0 alpha(@theme_selected_bg_color, 0.04), 
                inset 1px 0 alpha(@theme_selected_bg_color, 0.26);  
    background-size: auto;                                                                   						
}

GtkTreeView .progressbar,
.progressbar row,
GtkTreeView .progressbar row:selected,
.progressbar row:selected,
GtkTreeView .progressbar row:selected:focus,
.progressbar row:selected:focus,
GtkTreeView.progressbar row:hover,
GtkTreeView .progressbar row:hover,
.cell.progressbar row:hover,
.progressbar row:hover {
	border-width: 1px;
    border-style: solid;
    border-color: transparent;
	border-image: none; 
	 
	background-color: mix(black, @theme_selected_bg_color, 0.3);
	background-image: linear-gradient(to bottom, 
                                      alpha(mix(white, @theme_selected_bg_color, 0.45), 0.38), 
                                      alpha(black, 0.08)
                                      ),
                      linear-gradient(to bottom,
                                      transparent 33%,
                                      @theme_selected_bg_color 
                                      );               
	background-clip: padding-box;
	box-shadow: inset 0 -1px alpha(@theme_selected_bg_color, 0.30),
				inset 0 -2px alpha(@theme_selected_bg_color, 0.06),
				inset 0 1px alpha(white, 0.16),
				inset 0 2px alpha(white, 0.06),
				inset 0 3px alpha(white, 0.02),
                inset -1px 0 alpha(@theme_selected_bg_color, 0.04), 
                inset 1px 0 alpha(@theme_selected_bg_color, 0.26);
    background-size: auto;   	                               			
}


.progressbar row:selected,
.progressbar row:selected:focus,
GtkTreeView .progressbar row:selected,
.progressbar row:selected,
GtkTreeView .progressbar row:selected:focus,
.progressbar row:selected:focus,
GtkTreeView .progressbar row:selected,
.progressbar row:selected,
GtkTreeView .progressbar row:selected:focus,
.progressbar row:selected:focus {
	border-width: 1px;
    border-style: solid;
    border-color: transparent;
	border-image: none;
	color: white;
	text-shadow: 0 1px alpha(black, 0.65);
	background-color: mix(black, @theme_selected_bg_color, 0.7);
	background-image: linear-gradient(to bottom, 
                                      alpha(mix(white, @theme_selected_bg_color, 0.7), 0.38), 
                                      alpha(black, 0.08)
                                      ),
                      linear-gradient(to bottom,
                                      transparent 33%,
                                      @theme_selected_bg_color 
                                      );  	
}

.progressbar row:insensitive,
.progressbar row:insensitive:focus,
GtkTreeView .progressbar row:insensitive,
.progressbar row:insensitive,
GtkTreeView .progressbar row:insensitive:focus,
.progressbar row:insensitive:focus {
    border-image: none;   	
    background-color: transparent;
    border-radius: 100px;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    box-shadow: inset 0 1px alpha(white, 0.08),
				inset 1px 0 alpha(white, 0.04),
				inset 0 2px alpha(white, 0.04),
				inset 0 3px alpha(white, 0.02),
				inset -1px 0 alpha(black, 0.36);
	background-image: linear-gradient(to bottom,
                                     mix(shade(@insensitive_bg_color, 2.3), white, 0.08),
                                     mix(shade(@insensitive_bg_color, 1.9), white, 0.08));                             					
}

.progressbar row:insensitive:selected:selected,
.progressbar row:insensitive:selected:selected:focused,
GtkTreeView .progressbar row:insensitive:selected:selected,
.progressbar row:insensitive:selected:selected,
GtkTreeView .progressbar row:insensitive:selected:selected:focus,
.progressbar row:insensitive:selected:selected:focus,
GtkTreeView .progressbar row:insensitive:selected:selected,
.progressbar row:insensitive:selected:selected,
GtkTreeView .progressbar row:insensitive:selected:selected:focus,
.progressbar row:insensitive:selected:selected:focus {
	background-image: linear-gradient(to bottom, 
                                      alpha(white, 0.32), 
                                      alpha(white, 0.04) 49%,
                                      alpha(black, 0.17) 51%,
                                      alpha(black, 0.08)
                                      ),
                                      linear-gradient(to bottom,
                                     alpha(shade(@insensitive_bg_color, 1.1), 0.6),
                                     alpha(shade(@insensitive_bg_color, 1.0), 0.6));
    background-color: transparent;
    border-radius: 100px;
    border-width: 1px;
    border-style: none;
    border-color: transparent;
    box-shadow: inset 0 1px alpha(white, 0.26),
    inset 1px 0 alpha(white, 0.13),
    inset -1px 0 alpha(black, 0.28); 
    border-image: none;   	                               					
}

/* TROUGH */
.trough,
.trough.vertical {                              
    border-radius: 100px;
    border-width: 0px 0 1px 0;
    border-style: solid;
	background-color: transparent;
    background-image: linear-gradient(to bottom, 
                                     alpha(black, 0.5),
                                     alpha(black, 0.2) 
                                      );                
	box-shadow: inset 0 -1px alpha(black, 0.36),
				1px 1px rgba(0,0,0,0.32) inset,
				1px 0 rgba(0,0,0,0.28) inset,
				-1px 0 alpha(white, 0.2) inset,
				0 2px rgba(0,0,0,0.08) inset,
				2px 0 rgba(0,0,0,0.04) inset,
				-2px 0 rgba(0,0,0,0.28) inset,
				0 3px rgba(0,0,0,0.04) inset,
				0 4px rgba(0,0,0,0.02) inset;
				
			
				
	border-image: none;  
   border-color: #1d1d1d;
   border-bottom-color: @trough_border_bottom;                                                          
}

.trough.vertical {
	background-image: linear-gradient(to right, 
                                     alpha(black, 0.5),
                                     alpha(black, 0.2) 
                                      );
}

.trough row {
    padding: 0px;
}

.trough row,
GtkTreeView.trough row,
GtkTreeView .trough row,
GtkTreeView.trough row:hover,
GtkTreeView .trough row:hover,
.cell.trough row,
.cell.trough row:hover,
.trough row:hover {
    box-shadow: inset 0 2px alpha(black, 0.04), 
				inset 1px 1px alpha(black, 0.1),
				inset -1px 0 alpha(black, 0.1), 
				inset 0 -1px alpha(black, 0.08);                                 
    border-radius: 100px;
    border-width: 1px;
    border-style: solid;
    border-color: @trough_row_border;
    border-top-color: @trough_row_border_top;
    border-bottom-color: @trough_row_border_bottom;
    background-color: transparent;
    background-image: linear-gradient(to bottom, 
                                     alpha(black, 0.5),
                                     alpha(white, 0.1) 
                                      ),
                       linear-gradient(to bottom, 
                                      mix(shade(@theme_fg_color, 0.75), @theme_selected_bg_color, 0.06), 
                                      mix(shade(@theme_fg_color, 0.75), @theme_selected_bg_color, 0.2) 
                                      );  
    border-image: none;  
    color: shade(@theme_selected_bg_color, 0.65);                                                              
}

GtkTreeView .trough row:focus,
GtkTreeView.trough row:focus,
GtkTreeView .trough row:selected:selected:selected,/*We must use 'selected' 3x's to overide 'treeview odd/even row' double 'selected' */
GtkTreeView.trough row:selected:selected:selected,
GtkTreeView .trough row:selected:hover,
GtkTreeView.trough row:selected:hover,
GtkTreeView .trough row:selected:focus,
GtkTreeView.trough row:selected:focus,
GtkTreeView .trough row:selected:hover:focus,
GtkTreeView.trough row:selected:hover:focus,

.trough row:focus,
.trough row:hover:selected:selected,
.trough row:hover:selected:focus,
.trough row:selected:selected,
.trough row:selected:focus {
	border-image: none;
    box-shadow: inset 0 2px alpha(black, 0.04), 
				inset 1px 1px alpha(black, 0.1),
				inset -1px 0 alpha(black, 0.1), 
				inset 0 -1px alpha(black, 0.08); 
	color: #020202;                              
    border-radius: 100px;
    border-width: 1px;
    border-style: solid;
    border-color: shade(@trough_row_border, 1.1);
    border-top-color: shade(@trough_row_border_top, 1.1);
    border-bottom-color: shade(@trough_row_border_bottom, 1.1);
    background-color: transparent;
    background-image: linear-gradient(to bottom, 
                                     alpha(black, 0.5),
                                     alpha(white, 0.1) 
                                      ),
                       linear-gradient(to bottom, 
                                      mix(shade(@theme_fg_color, 0.65), @theme_selected_bg_color, 0.06), 
                                      mix(shade(@theme_fg_color, 0.65), @theme_selected_bg_color, 0.2) 
                                      );                                
}

GtkTreeView .trough row:insensitive,
.trough row:insensitive {
	border-image: none;                                 
    border-radius: 100px;
    box-shadow: inset 0 2px alpha(black, 0.04), 
				inset 1px 1px alpha(black, 0.1),
				inset -1px 0 alpha(black, 0.1), 
				inset 0 -1px alpha(black, 0.06);                               
    border-radius: 100px;
    border-color: @trough_row_border;
    border-top-color: @trough_row_border_top;
    border-bottom-color: @trough_row_border_bottom;
    background-image: linear-gradient(to bottom, 
                                     alpha(black, 0.4),
                                     alpha(white, 0.1) 
                                      ),
                       linear-gradient(to bottom, 
                                      mix(@theme_text_color, @insensitive_bg_color, 0.65), 
                                      mix(@theme_text_color, @insensitive_bg_color, 0.85) 
                                      );                                   
                                      
    background-color: transparent;                                
}

GtkTreeView .trough row:insensitive:selected:selected:selected,
.trough row:insensitive:selected:selected:selected:selected {
	border-image: none;
    box-shadow: inset 0 2px alpha(black, 0.04), 
				inset 1px 1px alpha(black, 0.1),
				inset -1px 0 alpha(black, 0.1), 
				inset 0 -1px alpha(black, 0.06);                               
    border-radius: 100px;
    border-color: shade(@trough_row_border, 1.6);
    border-top-color: shade(@trough_row_border_top, 1.6);
    border-bottom-color: shade(@trough_row_border_bottom, 1.6);
    background-color: transparent;
    background-image: linear-gradient(to bottom, 
                                     alpha(black, 0.4),
                                     alpha(white, 0.1) 
                                      ),
                       linear-gradient(to bottom, 
                                      mix(@theme_text_color, @theme_selected_bg_color, 0.55), 
                                      mix(@theme_text_color, @theme_selected_bg_color, 0.75) 
                                      );                                
}

.expander {
	engine: unico;
}

