[Desktop Entry]
Name=Griffon 1.6.6
Comment=IDE
Exec=griffon
Icon=/usr/share/pixmaps/griffon_icon.png
Terminal=false
MultipleArgs=true
Categories=Development;IDE;
Type=Application

